%section.single-contents
  %h2.single-contents__header
    会員登録完了
  .single-contents__form
    .single-contents__form__content
      %p.single-contents__form__content__text
        ありがとうございます。<br/>会員登録が完了しました。
    .single-contents__form__submit
      メルカリを始める
  .single-contents__advertisement